{{> header}}
  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('static/images/1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 95vh;
    ">
        <div class="container text-center text-white headerset">
            <h1>Welcome to our Studio</h1>
            <h2>ITS NICE TO MEET YOU</h2>
            <button class="btn btn-warning text-center text-white btn-large">SUSCRIBES</button>
        </div>
  <!-- Background image -->
{{> footer}}